   /* ----------------------------website default body styling----------------------------  */
   body {
        font-family: Arial, sans-serif;
        margin: 0px;
        padding: 0px;
        background-color: #f9f9f9;
        color: #333;
    }

    header {
        text-align: center;
        margin-bottom: 30px;
    }

    h1 {
        color: #0066cc;
    }


 /* ----------------------------profile article---------------------------- */
    article.profile {
        margin: 20px;

        padding: 15px;
        background: white;
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    
 /* ----------------------------index article---------------------------- */
     article.index {
        margin-bottom: 20px;
        padding: 15px;
        background: white;
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }
 

 /* ----------------------------contact---------------------------- */

 /* ---------------- CONTACT PAGE ---------------- */
body.contact {
    background-color: #f9f9f9;
    color: #333;
}

body.contact main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

body.contact article {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

body.contact form {
    display: flex;
    flex-direction: column;
}

body.contact label {
    font-weight: bold;
    margin-bottom: 5px;
}


body.contact button:hover {
    background-color: #004c99;
}


/* ----------------------------navbar---------------------------- */

/* ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: #111111;
}
ul.navbar li a.active {
    background-color: #111111;
} */

.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  background: #eae9e9;
  padding: 16px 32px;
}

.navbar li { display: inline; }

.navbar a {
  text-decoration: none;
  color: #333;
  padding: 0.25rem 0.5rem;
      padding: 14px 16px;

}

.navbar a.active {
  background: #333;
  color: #fff;
  border-radius: 4px;
}